{% extends "admin/base.html" %}
{% load static %}

{% block title %}Velin Administration Database{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/admin.css' %}">
{% endblock %}

{% block branding %}
  <div class="admin-branding">
    <h1 id="site-name"><a href="{% url 'admin:index' %}">Velin Administration Database</a></h1>
    <p class="admin-branding__copy">Profiles, products, stock, consent records, and launch operations.</p>
  </div>
{% endblock %}

{% block nav-global %}{% endblock %}
